{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-lg-8">
		<div class="box-element" id="form-wrapper">
               <form id= "form">
                    <div id="user-info">
                         <div class="form-field">
                              <input required class="form-control" type="text" name="name" placeholder="Enter name..">
                         </div>
                         <div class="form-field">
                              <input required class="form-control" type="email" name="email" placeholder="Enter email..">
                         </div>

                    </div>

                    <div id= "shipping-info">
                         <hr>
                         <p><b> Shipping Information</b> </p>
                         <hr>
                         <div class= "form-field">
                              <input class="form-control" type="text" name="address" placeholder="Your address..">
                         <div class= "form-field">
                              <input class="form-control" type="text" name="city" placeholder="Your city..">
                         <div class= "form-field">
                              <input class="form-control" type="text" name="State" placeholder="Your state..">
                         <div class= "form-field">
                              <input class="form-control" type="text" name="Country" placeholder="Your Country..">
                         
                    </div>
                    <hr>
                    <input id= "form-button" class= "btn btn-success btn-block" type= "submit" value="Continue">
               </form>
		</div>
          <br>
          <div class= "box-element hidden" id="Payment-info">
               <small> Esewa </small>
          </div>
		
	</div>

	<div class="col-lg-8">
		<div class="box-element">
               <a class= "btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart </a>
               <hr>
               <h3>Order Summary</h3>
               <hr>
               {% for item in items %}
               <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>{{item.product.price}}</p></div>
                    <div style="flex:1"><p>x2{{item.quantity}}</p></div>
               </div>
               <hr>
               {% endfor %}
               <h5><b>Items: {{order.get_cart_items}}</b></h5>
               <h5><b>Total: ${{order.get_cart_total |floatformat:2}}</b></h5>
          </div>         
	</div>
</div>     
{% endblock content %}