{% extends 'store/main.html'%}
{% load static %}
    
{% block content%}

<form method='POST'action="">
{% csrf_token %}
    
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://i.ytimg.com/vi/hoNORVY9Hyc/maxresdefault.jpg" alt=""
                 alt="Sample image" style= "width: 500px">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3" >Sign in</p>
                       
                </div>
                    <div>
                        <input type="text" name="username" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter username" />
                        <label class="form-label" for="form3Example3">Username: </label>
                        </div><br/>

                        <div>
                        <input type="password" name="password" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter password" />
                        <label class="form-label" for="form3Example3">Password: </label>
                        </div><br/>
        
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Save info
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" value="login" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;" >Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'register' %}"
                                class="link-danger">Register</a></p>
                    </div>
                    <br/>                                
            </div>
        </div>
    </div>
</form>
    
    
    </form>
</section>
{% endblock content %}