{% extends 'store/main.html'%}
{% load static %}
    
{% block content%}
    
    <form method='POST'action="">
    {% csrf_token%}
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://static.wixstatic.com/media/ab3aa5_04013ede16d54fadad53a44884673dde~mv2.png/v1/crop/x_35,y_0,w_5313,h_2600/fill/w_610,h_298,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Copy%20of%20Copy%20of%20Beauty%20Advisor-2%203.png"
                     alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3"><h1>Registration</h1></p>
                       
                    </div>
                    <form method='POST'action="">
                        {% csrf_token%}
                        <div class="form-outline mb-4">
                        <input type="text" name="firstname" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter firstname" />
                        <label class="form-label" for="form3Example3"><b>Firstname</b></label>
                        </div><br/>
                        <div>
        
                        <input type="text" name="lastname" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter lastname" />
                        <label class="form-label" for="form3Example3"><b>Lasttname</b></label>
                        </div><br/>
                        <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" name="email" id="form3Example3" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />
                        <label class="form-label" for="form3Example3"><b>Email address</b></label>
                    </div>
                        <div>
                        <input type="text" name="username" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter username" />
                        <label class="form-label" for="form3Example3"><b>Username</b></label>
                        </div><br/>

                        <div>
                        <input type="password" name="password" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter password" />
                        <label class="form-label" for="form3Example3"><b>Password</b></label>
                        </div><br/>
        
                        
                        
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <a href="{% url 'login' %}" style="padding-left: 2.5rem; padding-right: 2.5rem;" class="btn btn-denger">Back</a>
                            <button type="submit" value="register" class="btn btn-primary "
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" ><b>Registration</b></button>
                        </div><br/>
                    

                
            </div>
        </div>
    </div>
    </form>

{% endblock %}